*::-webkit-scrollbar {
  width: 16px;
}
* {
  scrollbar-width: auto;
}
*::-webkit-scrollbar-track {
  background: var(--color-tinted-cream);
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border: 1px solid #f1f1f1;
}


.chromenote-panel * ::-webkit-scrollbar {
  width: 6px;
}

.chromenote-panel * {
  scrollbar-width: auto;
  /* scrollbar-color: var(--color-lilac-no-swop) var(--color-dark-no-swop); */
}

.chromenote-panel ::-webkit-scrollbar-track {
  background: transparent;
}

@media (prefers-color-scheme: light) {
  .chromenote-panel ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #23232340;
    border-radius: 30px;
    border: 5.5px solid #f5f5f5;
  }

  .chromenote-panel ::-webkit-scrollbar-thumb:hover {
    background-color: #23232369;
  }
}

@media (prefers-color-scheme: dark) {
  .chromenote-panel ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #f3f3f340;
    border-radius: 30px;
    border: 5.5px solid #14151a;
  }

  .chromenote-panel ::-webkit-scrollbar-thumb:hover {
    background-color: #f3f3f390;
  }
}
